
<div class="con">
    <div class="title-div">
        <p>Rechercher sur le champ : References</p>
    </div>
    <div class="input-div">
        <select>
            <option value="Conditions">Conditions</option>
            <option value="Conditions1">Conditions1</option>
            <option value="Conditions2">Conditions2</option>
        </select>
        <input type="text" placeholder="Valeur du champ" />
    </div>
    <button class="btn btn-primary"  style="margin-left: 30%;">AJOUTER UNE VALEUR DE RECHERCHER</button>
    <hr>
    <button class="btn btn-light" style="margin-left: 5px;">Annuler</button>
    <button class="btn btn-danger">EFFACER LA RECHERCHER</button>
    <button class="btn btn-primary">RECHERCHER</button>
</div>